
.col-bg {
    background-color: var(--ion-color-secondary);
    min-height: 100%;
    width: 100%;
    height: calc(100vh - 44px);
}

.col-list {
    overflow-y: scroll;
    height: calc(100vh - 44px);
    background-color: var(--ion-color-light);
}

ion-list {
    margin-bottom: 10px;
}